---
import { Container } from '@ui';
---

<Container class="relative place-items-center">
  <div class="absolute inset-10 z-0 md:static md:w-1/3">
    <img src="/assets/149.svg" alt="" />
  </div>
  <div class="z-10 p-4 md:w-2/3 md:p-12">
    <h3 class="pb-8 text-2xl font-medium uppercase text-primary-500">Sobre mí</h3>
    <p class="text-balance text-2xl font-medium md:text-5xl">
      Me gusta trabajar en producto ya que puedes ver la evolución del mismo adaptado a las nuevas
      tendencias y sobre todo necesidades de los usuarios.

      <span class="text-primary-500"
        >Así que no hay nada más gratificante que ver como aportas soluciones reales para personas
        reales.</span
      >
    </p>
  </div>
</Container>
