---
import { Container } from '@ui';
---

<Container class="place-items-center">
  <div class="w-1/3">
    <img src="/assets/149.svg" alt="" />
  </div>
  <div class="w-2/3 p-12">
    <h3 class="pb-8 text-2xl font-medium uppercase text-primary-500">Sobre mí</h3>
    <p class="text-5xl font-medium">
      Me gusta trabajar en producto ya que puedes ver la evolución del mismo adaptado a las nuevas
      tendencias y sobre todo necesidades de los usuarios.

      <span class="text-primary-500"
        >Así que no hay nada más gratificante que ver como aportas soluciones reales para personas
        reales.</span
      >
    </p>
  </div>
</Container>
