---
import { Bento, Container } from '@ui';
---

<Container>
  <Bento class="flex w-full flex-col justify-center gap-4">
    <p class="text-medium mb-12 text-center text-4xl lg:text-5xl">Algún proyecto en mente?</p>
    <a
      href="mailto:info@enzogonzalez.es"
      class="inline-flex w-full justify-center rounded-full bg-accent-700 px-8 py-6 text-3xl font-medium text-white-50 transition hover:bg-accent-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
    >
      info@enzogonzalez.es
    </a>
  </Bento>
</Container>
