---
import { experience } from '../../data/experience.json';
import { Avatar, Bento, Container } from '@ui';
---

<Container>
  <section id="sectionPin">
    <div class="pin-wrap-sticky">
      <div class="pin-wrap flex gap-4">
        <Bento class="bg-transparent">
          <h2 class="text-6xl font-medium tracking-tight">
            <span class="opacity-60">Laboral</span>
            <br />Experience
          </h2>
        </Bento>
        {
          experience.map((job, index) => (
            <Bento class="job-card">
              <div class="flex flex-col gap-12 pb-8 md:flex-row">
                <Avatar alt={job.company + ' logo'} src="/assets/hero.webp" />
                <div>
                  <p class="text-sm uppercase opacity-60">{job.date}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-4xl font-medium">
                      {job.company} <br />
                      <span class="text-2xl font-light opacity-60">{job.jobTitle}</span>
                    </h3>
                  </div>
                </div>
              </div>
              <p class="text-lg">{job.description}</p>
            </Bento>
          ))
        }
      </div>
    </div>
  </section>
</Container>

<style>
  @supports (animation-timeline: view()) {
    @keyframes move {
      to {
        transform: translateX(calc(-100% + 78rem)); /* 80rem is container, 1rem is gap */
        left: 0px;
      }
    }

    #sectionPin {
      --items-count: 5;
      --items-width: 48rem;
      /* Ajusta el ancho del contenedor de scroll */
      width: calc(var(--items-count) * var(--items-width));
      /* Elimina el ajuste de altura, ya que ahora solo queremos que se extienda horizontalmente */
      height: 200vh;
      /* Asegura que la animación cubra el ancho total del contenedor de scroll */
      view-timeline-name: --section-pin-tl;
      view-timeline-axis: block;
    }

    .job-card {
      width: var(--items-width);
    }

    .pin-wrap-sticky {
      /* width: 100vw; */
      position: sticky;
      top: 20%;
    }

    .pin-wrap {
      width: calc(var(--items-width) * var(--items-count));
      will-change: transform;
      animation: linear move forwards;
      animation-timeline: --section-pin-tl;
      animation-range: contain -20% contain 139%;
    }
  }
</style>
