---
import { Bento, Container } from '@ui';
---

<Container class="hero-section relative flex-nowrap md:w-full">
  <div
    class="z-10 flex h-full flex-col flex-nowrap justify-between gap-8 py-12 font-medium md:w-1/3"
  >
    <div class="flex flex-col gap-4 text-2xl uppercase text-primary-500">
      <h3>Frontend</h3>
      <h3>User Experience</h3>
      <h3>Web Design</h3>
    </div>
    <div class="flex flex-col gap-12">
      <h1>
        <img
          alt="enzo gonzalez"
          class="w-full md:w-[70vw] md:max-w-[900px]"
          src="/assets/enzo-gonzalez.svg"
        />
      </h1>
      <a
        href="mailto:info@enzogonzalez.es"
        class="inline-flex w-full justify-center rounded-full bg-accent-700 px-8 py-6 text-2xl font-medium text-white-50 transition hover:bg-accent-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-700"
      >
        info@enzogonzalez.es
      </a>
    </div>
  </div>
  <Bento
    class="absolute inset-x-10 bottom-48 top-20 z-0 bg-cover md:static md:aspect-auto md:w-2/3"
    style="background-image:url('/assets/hero.webp')"
  />
</Container>
<style>
  @media not all and (min-width: 768px) {
    .hero-section {
      /*  TODO investigar las medidas correctas para mobile, actualmente se reescala la imagen */
      height: calc(100lvh - 72px); /* 72px header height */
    }
  }
  .hero-section {
    flex-direction: row;
  }
</style>
