---
import { Bento, Container, Linkedin, Github } from '@ui';
---

<Container>
  <Bento class="w-3/5">
    <p class="text-balance text-3xl font-medium lg:text-5xl">
      Especializado en crear sitios webs de alto rendimiento con un bajo uso de javascript.<span
        class="text-primary-500"
      >
        No por ello sacrificamos diseño e interactividad, este sitio es el ejemplo.</span
      >
    </p>
  </Bento>
  <img class="h-full w-2/5 gap-4 lg:flex-col" src="/assets/Vector.svg" />
</Container>
