---
import { Bento, Container, Linkedin, Github } from '@ui';
---

<Container>
  <div class="flex w-full gap-4 lg:flex-col">
    <Linkedin />
    <Github />
  </div>
  <Bento>
    <p class="text-3xl font-medium lg:text-6xl">
      As a digital designer, I specialize in creating unique visual identities for digital products.<span
        class="opacity-60"
      >
        I believe that a catchy design starts with common values, open communication, and respect.</span
      >
    </p>
  </Bento>
</Container>
