---
import { Bento, Container, Linkedin, Github } from '@ui';
---

<Container class="relative flex-row items-center">
  <Bento class="z-10 w-[70vw] lg:w-full">
    <p class="text-balance text-2xl font-medium md:text-5xl">
      Especializado en crear sitios webs de alto rendimiento con un bajo uso de javascript.
      <span class="text-primary-500">
        No por ello sacrificamos diseño e interactividad, este sitio es el ejemplo.
      </span>
    </p>
  </Bento>
  <img
    alt="svg decoration"
    class="absolute right-5 z-0 h-full w-2/6 gap-4 p-3 md:p-0 lg:static"
    src="/assets/Vector.svg"
  />
</Container>
