---
import { technologies } from '../../data/technologies.json';
import { Bento, Container, Pill } from '@ui';
---

<Container>
  <Bento class="relative flex-col gap-8 overflow-hidden">
    <div class="flex flex-col lg:flex-row">
      <div class="flex w-full flex-col gap-6 md:gap-12 lg:w-3/4">
        <h3 class="text-2xl font-medium uppercase text-white-50">Tecnologías y Software</h3>
        <p class="text-balance text-2xl font-medium md:text-5xl">
          Buscamos el mejor enfoque para la selección de tecnologías y lenguajes que se adapten a
          cada proyecto, para ello contamos con un amplio stack.
        </p>
      </div>
      <div class="w-1/4"></div>
    </div>
    <!-- <svg
      class="spin absolute left-[0] top-[50px] -z-10 md:left-[-320px] lg:top-0"
      width="1000"
      height="1000"
      viewBox="0 0 300 300"
    >
      <defs>
        <path id="circlePath" d="M150 150 m -60 0 a 60 60 0 1 1 120 0 a 60 60 0 1 1 -120 0"></path>
      </defs>
      <circle cx="150" cy="150" r="75" fill="none"></circle>
      <text fill="#fff">
        <textPath xlink:href="#circlePath">✏️DESIGN ⌨️ DEVELOP 🥳 USER EXPERIENCE</textPath>
      </text>
    </svg> -->
  </Bento>
</Container>

<style>
  .spin {
    animation: spin 10s infinite linear;
  }
  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0);
    }
  }
</style>
