---
import Bento from '../ui/Bento.astro';
import Container from '../ui/Container.astro';

const bottomLinks = [
  {
    header: 'Social',
    links: [
      {
        name: 'Github',
        href: 'https://github.com/enzogdev',
        isExternal: true,
      },
    ],
  },
  {
    header: 'Company',
    links: [
      {
        name: 'Home',
        href: '/',
        isExternal: false,
      },
      {
        name: 'About',
        href: '/about',
        isExternal: false,
      },
      {
        name: 'Contact',
        href: '/contact',
        isExternal: false,
      },
    ],
  },
  {
    header: 'Legal',
    links: [
      {
        name: 'Privacy',
        href: '/privacy',
        isExternal: false,
      },
      {
        name: '404',
        href: '/404',
        isExternal: false,
      },
      {
        name: 'Styleguide',
        href: '/styleguide',
        isExternal: false,
      },
    ],
  },
];
---

<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <Container>
    <Bento class="my-4 flex w-full items-center justify-between py-3 lg:py-3">
      <!-- Brand logo -->
      <div class="flex">
        <a href="/">
          <span class="sr-only">Stone</span>
          <span class="text-xl font-bold tracking-tight">enzo gonzález</span>
        </a>
      </div>

      <p class="text-sm text-primary-950/70 dark:text-primary-200/70">© 2023 enzogonzalez</p>

      <p class="text-base text-primary-950/70 dark:text-primary-200/70">
        Hecho con ❤️ y con <a
          class="inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200"
          href="https://github.com/m6v3l9/astro-theme-stone"
          target="_blank"
          >Stone
          <svg
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"
            ></path>
          </svg>
        </a>
      </p>
    </Bento>
  </Container>
</footer>
