---
import { Bento, Container } from '@ui';
---

<header transition:name="header-navbar">
  <Container>
    <div class="mt-4 flex w-full items-center justify-between py-1 lg:py-1">
      <!-- Brand logo -->
      <div class="flex">
        <a href="/">
          <span class="sr-only">Stone</span>
          <span class="text-xl font-semibold tracking-wide">enzo gonzález</span>
        </a>
      </div>

      <div class="-mr-2 flex items-center space-x-2 sm:space-x-3">
        <a
          class="inline-flex w-full justify-center rounded-full bg-accent-700 px-4 py-3 font-medium text-white-50 transition hover:bg-accent-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-700"
          href="cv">Ver Curriculum</a
        >
      </div>
    </div>
  </Container>
</header>
