---
const stats = [
  {
    name: 'Años de Experiencia',
    value: '4,8',
  },
  {
    name: 'Cafés',
    value: '~2,4K',
  },
  {
    name: 'Proyectos decentes',
    value: '1',
  },
  {
    name: 'Motivacion',
    value: '100%',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Una misión</h2>

          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Natural de Puente Genil (Córdoba) y aprendiendo de forma autodidacta cuestiones de
              diseño gráfico. Por azares de la vida acabé estudiando <b>DAW</b> y ahora soy Técnico
              Superior en Desarrollo de Aplicaciones Web.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Tras un par de años de trabajo y aplicando los conocimientos aprendidos, me dí cuenta
              que había algo que no había tenido en cuenta en todo el proceso, y erán las personas.
              Todo lo que hago está enfocado para que alguien lo utilice, así que decidí formarme
              con un <b>Master en UX/ UI.</b>
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Ahora puedo aportar una visión mas completa y entender los entresijos del producto,
              evitando caer en errores de desarrollar algo simplemente bello, o una herramienta muy
              poderosa pero poco usable.
            </p>
            <blockquote class="flex flex-col text-xl font-medium italic tracking-tight sm:text-lg">
              <p>
                “ Los puntos solo pueden conectarse cuando echamos la vista hacia atrás en la vida,
                nunca hacia adelante ”
              </p>
              <cite class="text-right">— Steve Jobs</cite>
            </blockquote>
          </div>
        </div>

        <!-- Stats -->
      </div>
    </div>
    <dl class="grid grid-cols-2 gap-6 pt-8 sm:grid-cols-4">
      {
        stats.map((stat) => (
          <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
            <dt class="text-base">{stat.name}</dt>
            <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</section>
