---
import Bento from '../ui/Bento.astro';
import Button from '../ui/Button.astro';
import Container from '../ui/Container.astro';
---

<Container>
  <Bento class="flex w-full flex-col justify-center gap-8">
    <p class="text-medium mb-12 text-center text-4xl lg:text-6xl">Have a project in mind?</p>
    <a
      href="mailto:info@enzogonzalez.es"
      class="inline-flex w-full justify-center rounded-full bg-primary-400 px-8 py-6 text-3xl font-bold text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
    >
      info@enzogonzalez.es
    </a>
  </Bento>
</Container>
