---
import Bento from '../ui/Bento.astro';
import Button from '../ui/Button.astro';
import Container from '../ui/Container.astro';
---

<Container>
  <Bento class="flex w-full flex-col justify-center gap-8">
    <h2 class="text-6xl font-medium">Have a project <br /> in mind?</h2>
    <Button title="Contáctame" url="/contacto" />
  </Bento>
</Container>
