---
import { experience } from '../../data/experience.json';
import Avatar from '../ui/Avatar.astro';
import Bento from '../ui/Bento.astro';
import Container from '../ui/Container.astro';
---

<Container>
  <div class="flex grid-cols-2 grid-rows-6 flex-col gap-4 lg:grid">
    <Bento class="row-start-1 bg-transparent">
      <h2 class="text-6xl font-medium tracking-tight">
        <span class="opacity-60">Laboral</span>
        <br />Experience
      </h2>
    </Bento>
    {
      experience.map((job, index) => (
        <Bento class:list={['row-span-2', `row-start-${index + 1}`]}>
          <div class="flex flex-col gap-12 pb-8 md:flex-row">
            <Avatar src="/assets/hero.webp" />
            <div>
              <p class="text-sm uppercase opacity-60">{job.date}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-4xl font-medium">
                  {job.company} <br />
                  <span class="text-2xl font-light opacity-60">{job.jobTitle}</span>
                </h3>
              </div>
            </div>
          </div>
          <p class="text-lg">{job.description}</p>
        </Bento>
      ))
    }
  </div>
</Container>
