---
import Button from '../ui/Button.astro';
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex w-full flex-row-reverse flex-col items-stretch gap-16 md:flex-row">
      <div class="my-12 flex w-full flex-col items-start gap-8 sm:gap-10">
        <div class="flex flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-6xl font-black tracking-tight">
            enzo<br />gonzález
          </h1>
          <h2 class="text-4xl opacity-60">Frontend Developer</h2>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            Diseñar, desarrollar y disfrutar!
          </p>
        </div>
        <Button title="Contáctame" url="/contacto" />
      </div>
      <div
        class="sm: aspect-[16/9] h-auto w-full rounded-3xl"
        style="background-image:url('/assets/hero.webp')"
      >
      </div>
    </div>
  </div>
</section>
