<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex w-full flex-row items-stretch gap-16">
      <div class="my-12 flex w-full flex-col items-start gap-8 sm:gap-10">
        <div class="flex flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-6xl font-black tracking-tight">
            enzo<br />gonzález
          </h1>
          <h2 class="text-4xl opacity-60">Frontend Developer</h2>
          <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            Diseñar, desarrollar y disfrutar!
          </p>
        </div>
        <a
          href="/pricing"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
        >
          Contact me
        </a>
      </div>
      <div class="h-auto w-full rounded-3xl" style="background-image:url('/assets/hero.webp')">
      </div>
    </div>
  </div>
</section>
