---
import { projects } from '../../data/projects.json';
import Bento from '../ui/Bento.astro';
import Container from '../ui/Container.astro';
---

<Container>
  <div class="flex w-full gap-4 lg:flex-col">
    <Bento class="aspect-square min-h-[150px] w-full md:aspect-auto xl:aspect-square">
      Linkedin
    </Bento>
    <Bento class="aspect-square min-h-[150px] w-full md:aspect-auto xl:aspect-square">Github</Bento>
  </div>
  <Bento>
    <p class="text-3xl font-medium lg:text-6xl">
      As a digital designer, I specialize in creating unique visual identities for digital products.<span
        class="opacity-60"
      >
        I believe that a catchy design starts with common values, open communication, and respect
        for your audience.</span
      >
    </p>
  </Bento>
</Container>

<style>
  .card:hover .hidden-content {
    height: 100%;
  }
</style>
