---
import { Avatar, Container } from '@ui';
---

<Container class="mb-10 flex justify-between">
  <ul class="pt-8 text-xl text-white-50">
    <li><span class="uppercase text-primary-500">Edad:</span> 28 años (Diciembre 1995)</li>
    <li><span class="uppercase text-primary-500">Dirección:</span> Puente Genil, Córdoba</li>
    <li><span class="uppercase text-primary-500">Teléfono:</span> 656 76 38 63</li>
    <li>
      <span class="uppercase text-primary-500">Correo:</span>
      <a href="mailto:info@enzogonzalez.es">info@enzogonzalez.es</a>
    </li>
  </ul>
  <div class="flex items-center gap-8">
    <div class="text-right">
      <h1 class="text-6xl font-semibold">Lorenzo González</h1>
      <h2 class="text-3xl uppercase">Frontend web Developer</h2>
    </div>
    <Avatar class="aspect-square" src="/assets/cv/avatar.webp" />
  </div>
</Container>
<Container>
  <blockquote class="mb-14 text-center text-2xl">
    « Con más de 4 años de experiencia como Frontend Web Developer, puedo afirmar que cuento con la
    capacidad de afrontar nuevos retos que sigan ampliando mi conocimiento de la web »
  </blockquote>
  <Container />
</Container>
