---

---

<nav class="w-1/3">
  <header>
    <h2
      class="mb-4 inline-block rounded-full bg-primary-700 px-6 py-3 text-2xl font-semibold uppercase"
    >
      Habilidades
    </h2>
    <div>
      <h3 class="mb-4 mt-8 text-2xl">Lenguajes</h3>
      <ul class="flex flex-wrap gap-4 *:rounded-full *:bg-primary-800 *:px-4 *:py-1">
        <li>Javascript</li>
        <li>Typescript</li>
        <li>PHP</li>
        <li>CSS</li>
        <li>SCSS</li>
        <li>HTML5</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 mt-8 text-2xl">Frameworks</h3>
      <ul class="flex flex-wrap gap-4 *:rounded-full *:bg-primary-800 *:px-4 *:py-1">
        <li>React</li>
        <li>Angular</li>
        <li>Symfony</li>
        <li>Astro</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 mt-8 text-2xl">Bases de Datos</h3>
      <ul class="flex flex-wrap gap-4 *:rounded-full *:bg-primary-800 *:px-4 *:py-1">
        <li>MySQL</li>
        <li>MariaDB</li>
        <li>GraphQL</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 mt-8 text-2xl">CMS</h3>
      <ul class="flex flex-wrap gap-4 *:rounded-full *:bg-primary-800 *:px-4 *:py-1">
        <li>Prestashop</li>
        <li>Wordpress</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4 mt-8 text-2xl">UX/UI</h3>
      <ul class="flex flex-wrap gap-4 *:rounded-full *:bg-primary-800 *:px-4 *:py-1">
        <li>Figma</li>
        <li>Miro</li>
        <li>FigmaJam</li>
        <li>Axure</li>
        <li>Sketch</li>
        <li>Notion</li>
      </ul>
    </div>
    <h2
      class="mb-4 mt-14 inline-block rounded-full bg-primary-700 px-6 py-3 text-2xl font-semibold uppercase"
    >
      Idiomas
    </h2>
    <ul>
      <li>
        <span class="font-bold">Español:</span> Nativo
      </li>
      <li><span class="font-bold">Inglés:</span> Buen nivel de ingles en el entorno técnico</li>
    </ul>
  </header>
</nav>
