---
const { class: className, ...rest } = Astro.props;
---

<div
  class:list={['revealing-bento rounded-3xl bg-primary-500/10 p-4 lg:p-12', className]}
  {...rest}
>
  <slot />
</div>
<style is:global>
  main .revealing-bento {
    animation: reveal linear both;
    will-change: transform, opacity;
    animation-timeline: view();
    animation-range: entry 0% exit 20%;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
  }
  /* @TODO fix blurred in text when bento scaled  */
  @keyframes reveal {
    entry 0% {
      opacity: 0;
      /* scale: 0.95; */
      transform: translateY(5%);
    }
    entry 100% {
      opacity: 1;
      /* scale: 1; */
      transform: translateY(0);
    }
    exit 0% {
      opacity: 1;
      /* scale: 1; */
      transform: translateY(0);
    }
    exit 100% {
      opacity: 0;
      /* scale: 0.95; */
      transform: translateY(-5%);
    }
  }
</style>
