<a
  href="#"
  class="flex-end flex h-16 w-16 flex-row flex-nowrap place-items-center overflow-hidden text-nowrap rounded-full bg-primary-400 p-4 text-white transition hover:bg-primary-700"
>
  Visit site
  <svg
    class="block h-8 w-8"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="h-6 w-6"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
    ></path>
  </svg>
</a>
