---
import { Bento } from '@ui';

const { job } = Astro.props;
---

<a class="job-card" href=`proyectos/${job.slug}`>
  <Bento
    class="bg group flex h-[40vh] min-h-[300px] justify-between overflow-hidden"
    transition:name="hero"
  >
    <article
      class="absolute bottom-0 left-0 top-0 z-10 flex w-full flex-col justify-between p-4 lg:p-12"
      style="background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.5) 100%);"
    >
      <div class="flex justify-between">
        <h3 class="text-2xl font-medium uppercase text-white-50">site and Brand development</h3>
      </div>
      <div>
        <h2 class="mb-4 text-right text-8xl font-semibold drop-shadow-xl">{job.company}</h2>
        <div
          class="h-0 text-right text-2xl opacity-0 drop-shadow-xl transition-all group-hover:h-[4em] group-hover:opacity-60"
        >
          {job.description}
        </div>
      </div>
    </article>

    <img
      decoding="async"
      loading="lazy"
      class="absolute right-0 top-0 z-0 block h-full w-full object-cover saturate-50 transition group-hover:saturate-100"
      src={job.image}
    />
  </Bento>
</a>
<style>
  .job-card {
    width: var(--items-width);
  }
  img {
    object-position: 100% 0;
  }
</style>
